
{% extends 'base.html' %}

{% block title %}Página de Entrenamiento{% endblock %}

{% block content %}
<script src="https://cdn.socket.io/4.5.1/socket.io.min.js"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>

<div class="container">
    <h1 class="titulo-subir-archivos">Entrena tu propio modelo</h1>
    
     <form id="trainingForm" method="post" action="{{ url_for('entrenamiento') }}">
    
        <div class="form-group">
          <label for="proporciones">Proporción de dataset:</label>
          <input type="range" id="proporciones" name="proporciones" min="1" max="99" step="1" value="80" oninput="updateProporciones(this.value)">
          <span id="proporcionesValue">Para entrenamiento: 80%</span><br>
          <span id="testValue">Para test (restante): 20%</span>
        </div>


        
        <div class="form-group">
            <label for="algoritmo">Elige el algoritmo a utilizar:</label>
            <select name="algoritmo" id="algoritmo">
                <option value="adam">Adam</option>
                <option value="sdg">SDG</option>
                <option value="x">X</option>
            </select>
        </div>
        
        <div class="form-group">
            <label for="neuronas">Especifica el número de neuronas:</label>
            <input type="number" id="neuronas" name="neuronas" min="1">
        </div>
        
        <div class="form-group">
            <label for="capas">Especifica el número de capas:</label>
            <input type="number" id="capas" name="capas" min="1">
        </div>
        
        <div class="form-group">
            <label for="epoch">Especifica el número de epoch:</label>
            <input type="number" id="epoch" name="epoch" min="1">
        </div>
        
        <div class="form-group">
            <label for="steps">Especifica el número de steps:</label>
            <input type="number" id="steps" name="steps" min="1">
        </div>

        <div class="form-group">
            <label for="Name">Especifica el nombre del archivo:</label>
            <input type="text" id="Name" name="Name" required>
        </div>
     
    <button type="submit" class="btn btn-primary">Iniciar Entrenamiento</button>

    </form>
        <div >
        <h2>Estado del Entrenamiento</h2>
        <p id="loading-info" class="hidden">Mostrando resultados...</p>
        <p id="epoch-info" class="hidden">Esperando datos de época...</p>
        <p id="batch-info" class="hidden">Esperando datos de batch...</p>
    </div>
    <div id="download-link-area"></div>
</div>





{% endblock %}



