{% extends 'base.html' %}

{% block title %}Página de Entrenamiento{% endblock %}

{% block content %}
<div class="container">
    <h1 class="titulo-subir-archivos">Entrena tu propio modelo</h1>
    
    <form method="post" action="{{ url_for('entrenamiento') }}">
    
        <div class="form-group">
          <label for="proporciones">Proporción de dataset:</label>
          <input type="range" id="proporciones" name="proporciones" min="1" max="99" step="1" value="80" oninput="updateProporciones(this.value)">
          <span id="proporcionesValue">Para entrenamiento: 80%</span><br>
          <span id="testValue">Para test (restante): 20%</span>
        </div>


        
        <div class="form-group">
            <label for="algoritmo">Elige el algoritmo a utilizar:</label>
            <select name="algoritmo" id="algoritmo">
                <option value="adam">Adam</option>
                <option value="sdg">SDG</option>
                <option value="x">X</option>
            </select>
        </div>
        
        <div class="form-group">
            <label for="neuronas">Especifica el número de neuronas:</label>
            <input type="number" id="neuronas" name="neuronas" min="1">
        </div>
        
        <div class="form-group">
            <label for="capas">Especifica el número de capas:</label>
            <input type="number" id="capas" name="capas" min="1">
        </div>
        
        <div class="form-group">
            <label for="epoch">Especifica el número de epoch:</label>
            <input type="number" id="epoch" name="epoch" min="1">
        </div>
        
        <div class="form-group">
            <label for="steps">Especifica el número de steps:</label>
            <input type="number" id="steps" name="steps" min="1">
        </div>
        
        <button type="submit" class="btn btn-primary">Iniciar Entrenamiento</button>
    </form>
</div>

<script>
function updateProporciones(value) {
  document.getElementById('proporcionesValue').textContent = `Para entrenamiento: ${value}%`;
  document.getElementById('testValue').textContent = `Para test (restante): ${100 - value}%`;
}

window.onload = function() {
    // Esto asegurará que los valores se actualicen correctamente al cargar la página
    updateProporciones(document.getElementById('proporciones').value);
};
</script>

{% endblock %}



