{% extends 'base.html' %}

{% block title %}Página de Inicio{% endblock %}



{% block content %}
    <h1>IA clasificatoria de insectos</h1>
    <p>¿Quieres identificar un insecto? Estás en el sitio correcto.</p>
    <h2>Selecciona una imagen del insecto</h2>

    <form action="/entrenamiento" method="post" enctype="multipart/form-data"  target="_self">
        <label for="fileInput">Selecciona un archivo:</label>
        <input type="file" id="fileInput" name="fileInput" accept="image/*">
        <br><button type="submit">Enviar</button>
    </form>
{% endblock %}

